<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle || 'homepage' %></title>
  <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
  <%- include('./partials/header') %>

  <section class="about">
    <h1><span>Fresh, Tasty, and Always</span> <br> Quality-Assured!</h1>
    <a href="/product">
      <button class="modern-btn">View Products</button>
    </a>
  </section>

  <script src="/js/homepage.js"></script>
</body>
</html>