@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #e4ebf6; /* soft bright gray-blue background */
  color: #2c3e50; /* dark slate blue text */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

header {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 7.6px 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  width: 100%;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #E9C46A;
  margin-right: 30px;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

nav ul {
  list-style: none;
  position: relative;
  right: -20px;
  display: flex;
  align-items: right;
  gap: 20px;
  flex-grow: 1;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #F4A261;
}

.sign-in-btn {
  padding: 14px 32px;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  background: #2980b9; /* solid blue button */
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0px 4px 8px rgba(41, 128, 185, 0.4);
  text-decoration: none;
  margin-left: auto;
  border: none;
}

.sign-in-btn:hover {
  background: #1c6690;
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(28, 102, 144, 0.6);
}

.analytics {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 20px;
  height: 100%;
  text-align: center;
}

.analytics h1, .analytics p {
  position: relative;
  bottom: 50px;
  font-size: 20px;
  color: #E9C46A;
}

.analytics h1 {
  position: relative;
  bottom: 30px;
  font-size: 40px;
  color: #34495e;
}

.chart-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 400px;
}


canvas {
  position: relative;
  top: 30px;
  width: 100% !important;
  height: 100% !important;
}

.reset-form {
  margin-bottom: 30px;
}

.reset-btn {
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: #2980b9; /* Match logout button color */
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0px 4px 8px rgba(41, 128, 185, 0.4);
}

.reset-btn:hover {
  background: #1c6690;
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(28, 102, 144, 0.6);
}

